.app {
  display: flex;
}

.main-content {
  margin-left: 3.75rem;
  padding-top: 3.75rem;
  padding: 1.25rem  ;
  flex: 1;
  background-color: #eaeaea;
  height: 100vh;
  box-sizing: border-box;
  transition: margin-left 0.3s;
}

.sidebar:hover ~ .main-content {
  margin-left: 12.50rem;
}